@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,600;1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kanit", sans-serif;
}

body {
  @apply bg-gray-900 text-white;
}

h1 {
  @apply text-6xl;
}
